:root {
    --green: #2BAE66FF; 
    --light-green: rgba(88, 162, 121, 0.962);
    --white: #FCF6F5FF;
}

.single-post {
    width: 60vw;
    min-height: calc(100vh - 70px);
    position: absolute;
    z-index: -1;
    top: 70px;
    left: 20vw;
    background-color: var(--white);
    display: grid;
    grid-template-areas: ". . . . ."
    ". t t t ."
    ". d d d ."
    "tx tx tx tx tx"
    "c c c c c"
    ". . . . .";
    grid-template-rows: 100px 100px 200px auto auto;
    .post-details {
        grid-area: d;
        display: flex;
        gap: 5px;
        text-align: center;
        justify-content: center;
    }
    .post-time, .post-date, .post-author {
        color: rgb(100, 100, 100);
        font-size: 16px;
    }
    .post-author {
        margin-right: 15px;
    }
    .post-title {
        grid-area: t;
        font-size: 32px;
        text-align: center;
    }
    .post-text {
        grid-area: tx;
        font-size: 18px;
        margin: 0 50px;
    }
    .comment-section {
        grid-area: c;
        margin: 200px 0;
        .comment-heading {
            margin: 0;
            margin-left: 60px;
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: 600;
            position: relative;
            width: fit-content;
        }
        .comment-heading:after {
            position: absolute;
            bottom: -7px;
            left: -10px;
            content: "";
            background-color: rgb(220, 220, 220);
            height: 2px;
            width: calc(100% + 20px);
        }
        .post-comments {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .comment {
                padding: 20px 40px;
                display: grid;
                grid-template-areas: "a d ."
                "t t t";
                align-items: center;
                grid-template-columns: fit-content(100%);
                border-bottom-left-radius: 10px;
                margin: 0 20px;
                border-left: 2px solid rgb(220, 220, 220);
                border-bottom: 2px solid rgb(220, 220, 220);

                position: relative;
                .comment-author {
                    grid-area: a;
                    font-size: 18px;
                    margin: 0;
                    font-weight: bold;
                }
                .comment-date {
                    grid-area: d;
                    color: rgb(100, 100, 100);
                    font-size: 14px;
                    margin: 0;
                    margin-left: 10px;
                }
                .comment-text {
                    grid-area: t;
                    font-size: 16px;
                    margin: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}

.single-post:before, .single-post:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 15px;
  }

.single-post:before {
    box-shadow: -15px 0 20px -25px inset;
    left: -15px;
}
.single-post:after {
    box-shadow: 15px 0 20px -25px inset;
    right: -15px;
}

.add-comment-form {
    display: flex;
    gap: 20px;
    height: 50px;
    padding: 0 30px;
    margin-top: 70px;
    width: fit-content;
}
.add-comment {
    font-size: 15px;
    border-radius: 5px;
    margin: 2px;
    border: none;
    background-color: var(--white);
    padding: 10px;
    border: 1px solid gray;
    width: 500px;
}

.post-comment-button {
    height: 50px;
    margin: auto;
    font-size: 16px;
    padding: 10px 20px;
    background: none;
    transition: 0.2s ease-in-out;
    color: rgb(100, 100, 100);
    border: 2px solid rgb(160, 160, 160);
    border-radius: 10px;
    font-weight: bold;
}

.post-comment-button:hover {
    background-color: var(--green);
    cursor: pointer;
    color: var(--white);
}