:root {
  --green: #2BAE66FF;
  --light-green: rgba(88, 162, 121, 0.962);
  --white: #FCF6F5FF;
}

.single-post {
  width: 70vw;
  min-height: calc(100vh);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 15vw;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.single-post .post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-post .post-time, .single-post .post-date, .single-post .post-author {
  color: #646464;
  font-size: 16px;
}

.single-post .post-author {
  margin-right: 15px;
}

.single-post .post-title {
  font-size: 32px;
  text-align: center;
}

.single-post .post-text {
  white-space: pre-line;
  font-size: 17px;
  margin: 0 100px;
  margin-top: 100px;
  line-height: 26px;
}

.single-post .comment-section {
  margin: 100px 0;
  width: 100%;
}

.single-post .comment-section .comment-heading {
  margin: 0;
  margin-left: 100px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.single-post .comment-section .comment-heading:after {
  position: absolute;
  bottom: -7px;
  left: -10px;
  content: "";
  background-color: gainsboro;
  height: 2px;
  width: calc(100% + 20px);
}

.single-post .comment-section .post-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.single-post .comment-section .post-comments .comment {
  position: relative;
  padding: 20px 40px;
  padding-right: 56px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a d ." "t t t";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: fit-content(100%);
      grid-template-columns: fit-content(100%);
  border-bottom-left-radius: 10px;
  margin: 0 50px;
  border-left: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  position: relative;
}

.single-post .comment-section .post-comments .comment .comment-author {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.single-post .comment-section .post-comments .comment .comment-date {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: d;
  color: #646464;
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
}

.single-post .comment-section .post-comments .comment .comment-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: t;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.single-post:before, .single-post:after {
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  width: 15px;
}

.single-post:before {
  -webkit-box-shadow: -15px 0 20px -25px inset;
          box-shadow: -15px 0 20px -25px inset;
  left: -15px;
}

.single-post:after {
  -webkit-box-shadow: 15px 0 20px -25px inset;
          box-shadow: 15px 0 20px -25px inset;
  right: -15px;
}

.add-comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 60px;
  padding: 0 30px;
  margin-top: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-comment {
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--white);
  padding: 10px;
  border: 1px solid gray;
  height: 38px;
  width: 500px;
  resize: none;
  font-family: inherit;
  margin: 0;
}

.post-comment-button {
  height: 60px;
  font-size: 16px;
  padding: 10px 20px;
  background: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #646464;
  border: 1px solid #646464;
  border-radius: 7px;
  font-weight: bold;
}

.post-comment-button:hover {
  background-color: var(--green);
  cursor: pointer;
  color: var(--white);
}

.delete-comment-button {
  position: absolute;
  bottom: 20px;
  right: 24px;
  background: none;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.delete-comment-button:hover {
  cursor: pointer;
  scale: 1.2;
}

@media screen and (max-width: 1200px) {
  .single-post .post-title {
    font-size: 30px;
  }
  .single-post .post-time, .single-post .post-date, .single-post .post-author {
    font-size: 15px;
  }
  .single-post .post-text {
    font-size: 16px;
  }
  .single-post .comment-section .comment-heading {
    font-size: 16px;
  }
  .single-post .comment-section .post-comments .comment .comment-text {
    font-size: 15px;
  }
  .single-post .comment-section .post-comments .comment .comment-author {
    font-size: 17px;
  }
  .single-post .comment-section .post-comments .comment .comment-date {
    font-size: 13px;
  }
  .single-post .add-comment {
    font-size: 14px;
  }
  .single-post .post-comment-button {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .single-post {
    width: 100vw;
    left: 0;
  }
}

@media screen and (max-width: 750px) {
  .single-post .post-title {
    font-size: 26px;
  }
  .single-post .post-time, .single-post .post-date, .single-post .post-author {
    font-size: 13px;
  }
  .single-post .post-text {
    font-size: 14px;
    line-height: 23px;
  }
  .single-post .comment-section .comment-heading {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .single-post .comment-section .post-comments .comment {
    margin: 0 30px;
  }
  .single-post .comment-section .post-comments .comment .comment-text {
    font-size: 13px;
  }
  .single-post .comment-section .post-comments .comment .comment-author {
    font-size: 15px;
  }
  .single-post .comment-section .post-comments .comment .comment-date {
    font-size: 11px;
  }
  .single-post .add-comment {
    font-size: 12px;
    width: calc(100% - 20px);
  }
  .single-post .post-comment-button {
    font-size: 13px;
  }
  .single-post .add-comment-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
  }
}

@media screen and (max-width: 500px) {
  .single-post .comment-section .post-comments .comment {
    padding: 15px 20px;
    padding-right: 36px;
  }
  .delete-comment-button {
    bottom: 15px;
    right: 4px;
  }
  .single-post .post-text {
    margin: 0 50px;
    margin-top: 100px;
  }
  .single-post .add-comment-form {
    padding: 50px;
  }
  .single-post .post-details {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "a a" "d t";
    grid-gap: 10px 0;
  }
  .single-post .post-details .post-author {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: a;
    margin: 0;
  }
  .single-post .post-details .post-date {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: d;
    margin: 0;
  }
  .single-post .post-details .post-time {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: t;
    margin: 0;
  }
}
/*# sourceMappingURL=SinglePost.css.map */