:root {
    --green: #2BAE66FF; 
    --light-green: rgba(88, 162, 121, 0.962);
    --white: #FFF;
}

.single-post {
    width: 800px;
    left: calc((100vw - 800px) / 2);
    min-height: calc(100vh);
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    .post-details {
        display: grid;
        grid-template-areas: "a a"
        "d t";
        text-align: center;
        gap: 0px 10px;
        justify-content: center;
    }
    .post-time, .post-date, .post-author {
        color: rgb(100, 100, 100);
        font-size: 16px;
    }
    .post-author {
        grid-area: a;
        margin-bottom: 0;
    }
    .post-title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 10px;
    }
    .post-text {
        white-space: pre-line;
        font-size: 17px;
        margin: 0;
        margin-top: 100px;
        line-height: 26px;
    }
    .comment-section {
        margin: 100px 0;
        width: 100%;
        .comment-heading {
            margin: 0;
            margin-bottom: 20px;
            font-size: 17px;
            font-weight: 600;
            position: relative;
            width: fit-content;
        }
        .comment-heading:after {
            position: absolute;
            bottom: -7px;
            left: -10px;
            content: "";
            background-color: #ccc;
            height: 1px;
            width: calc(100% + 20px);
        }
        .post-comments {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .comment {
                position: relative;
                padding: 20px 40px;
                padding-right: 56px;
                display: grid;
                grid-template-areas: "a d ."
                "t t t";
                align-items: center;
                grid-template-columns: fit-content(100%);
                border-bottom-left-radius: 10px;
                margin: 0;
                border-left: 1px solid #eee;
                border-bottom: 1px solid #eee;

                position: relative;
                .comment-author {
                    grid-area: a;
                    font-size: 18px;
                    margin: 0;
                    font-weight: bold;
                }
                .comment-date {
                    grid-area: d;
                    color: rgb(100, 100, 100);
                    font-size: 14px;
                    margin: 0;
                    margin-left: 10px;
                }
                .comment-text {
                    grid-area: t;
                    font-size: 16px;
                    margin: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}

.single-post:before, .single-post:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 15px;
  }

  .post-img {
    width: 100%;
    margin-top: 30px;
  }

.add-comment-form {
    display: flex;
    gap: 20px;
    height: 60px;
    padding: 0 30px;
    margin-top: 70px;
    justify-content: center;;
}
.add-comment {
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
    padding: 10px;
    border: 1px solid #aaa;
    height: 38px;
    width: 500px;
    resize: none;
    font-family: inherit;
    margin: 0;
}

.post-comment-button {
    height: 60px;
    font-size: 16px;
    padding: 10px 20px;
    background: none;
    transition: 0.2s ease-in-out;
    color: #555;
    border: 1px solid #aaa;
    border-radius: 7px;
    font-weight: bold;
}

.post-comment-button:hover {
    background-color: var(--green);
    cursor: pointer;
    color: var(--white);
}

.delete-comment-button {
    position: absolute;
    bottom: 20px;
    right: 24px;
    background: none;
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
}
.delete-comment-button:hover {
    cursor: pointer;
    scale: 1.2;
}

@media screen and (max-width: 1200px) {
    .single-post {
        .post-title {
            font-size: 30px;
        }
        .post-time, .post-date, .post-author {
            font-size: 15px;
        }
        .post-text {
            font-size: 16px;
        }

        .comment-section .comment-heading {
            font-size: 16px;
        }
        .comment-section .post-comments .comment {
            .comment-text { 
                font-size: 15px;
            }
            .comment-author {
                font-size: 17px;
            }

            .comment-date {
                font-size: 13px;
            }
        }
        .add-comment {
            font-size: 14px;
        }
        .post-comment-button {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .single-post {
        width: 600px;
        left: calc((100vw - 600px) / 2);
    }
}

@media screen and (max-width: 750px) {
    .single-post {
        width: 80vw;
        left: calc((100vw - 80vw) / 2);
        .post-title {
            font-size: 26px;
        }
        .post-time, .post-date, .post-author {
            font-size: 13px;
        }
        .post-text {
            font-size: 14px;
            line-height: 23px;
        }


        .comment-section .comment-heading {
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;
        }
        .comment-section .post-comments .comment {
            margin: 0;
            .comment-text { 
                font-size: 13px;
            }
            .comment-author {
                font-size: 15px;
            }

            .comment-date {
                font-size: 11px;
            }
        }
        .add-comment {
            font-size: 12px;
            width: calc(100% - 20px);
        }
        .post-comment-button {
            font-size: 13px;
        }
        .add-comment-form {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 100px;
        }
    }
}

@media screen and (max-width: 500px) {
    .single-post .comment-section .post-comments .comment {
        padding: 15px 20px;
        padding-right: 36px;
    }
    .delete-comment-button {
        bottom: 15px;
        right: 4px;
    }

    .single-post .post-text {
        margin: 0;
        margin-top: 100px;
    }
    .single-post .add-comment-form {
        padding: 50px;
    }

}