.posts-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;
}

.post-card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 15px -2px #17252abf;
    transition: 0.2s ease-out;
    width: 200px;
    .post-title {
        text-align: center;
    }
}

.post-card:hover {
    box-shadow: 2px 2px 25px -6px #17252abf;
    scale: 1.02;
    cursor: pointer;
}