:root {
    --green: #2BAE66FF; 
    --white: #FCF6F5FF;
}

.posts-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;
}

.post-card {
    border-radius: 3px;
    padding: 20px;
    box-shadow: 2px 2px 10px -1px #17252abf;
    transition: 0.2s ease-out;
    width: 200px;
    .post-title {
        text-align: center;
    }
}

.post-card:hover {
    cursor: pointer;
}