@keyframes loading-post-animation {
  0% {
    background-color: var(--light-gray);
  }

  100% {
    background-color: #ddd;
  }
}

.loading-posts-container {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.loading-post-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.loading-post-img {
    border-radius: 3px;
    transition: 0.2s ease-out;
    width: 300px;
    height: calc(300px * 9 / 16);
    background-color: var(--light-gray);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: loading-post-animation 1s ease-in-out alternate infinite;
}

.loading-post-title {
    width: 85%;
    height: 20px;
    border-radius: 2px;
    margin-left: 10px;
    background-color: var(--light-gray);
    animation: loading-post-animation 1s ease-in-out alternate infinite 0.2s;
}

.loading-post-author {
    width: 50%;
    height: 12px;
    border-radius: 2px;
    margin-left: 10px;
    background-color: var(--light-gray);
    animation: loading-post-animation 1s ease-in-out alternate infinite 0.4s;
}


.loading-post-card-1 .loading-post-img {
  animation-delay: 0.5s;
}
.loading-post-card-1 .loading-post-title {
    animation-delay: 0.7s;
}
.loading-post-card-1 .loading-post-author {
    animation-delay: 0.9s;
}

@media screen and (min-width: 1500px) {
    .loading-post-img {
        width: 400px;
        height: calc(400px * 9 / 16);
    }
}

@media screen and (max-width: 1500px) {
    .loading-posts-container {
        width: 1000px;
    }
}

@media screen and (max-width: 1200px) {
    .loading-posts-container {
        width: 600px;
        padding-top: 40px;
    }
    .loading-post-img {
        width: 250px;
        height: calc(250px * 9 / 16);
    }
}

@media screen and (max-width: 1050px) {
    .loading-posts-container {
        padding-top: 80px;
    }
}


@media screen and (max-width: 650px) {
    .loading-posts-container {
        width: 60vw;
    }
    .loading-post-img {
        width: 60vw;
        height: calc(60vw * 9 / 16);
    }
}